/* WAVES STYLE */
html {
  height: 100%;
}

body {
  font-family: 'Antic', sans-serif;
  height: 100%;
}

h1 {
  background-color: #00C5CD;
  text-align: center;
  color: #708090;
}

#main-content {
  height: 100%;
}

body > #main-content {
  height: auto;
  min-height: 100%;
}

footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
}
